@media (max-width: 768px) {

    
    .hero {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .hero .infos {
        max-width: 100vw;
        margin-left: 0;
    }

    .hero p {
        margin: 2rem 4rem;
    }

    .hero .infos .btn {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .hero .image-hero {
        height: 45rem;
        align-items: center;
        max-width: 100vw;
    }

    .about {
        max-width: 100vw;
    }

    .about .content-about .emoji.six,
    .about .content-about .interaction {
        display: none;
    }

    .about .content-about {
        text-align: center;
    }

    .decorations {
        max-width: 100vw;
        flex-wrap: wrap;
    }

    .contact {
        max-width: 100vw;
    }

    .contact .content-contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0rem;
        width: 70rem;
        margin-right: 0rem;
        margin-bottom: 1.5rem;
    }

    .contact .content-contact .infos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact img {
       display: none;
    }

    .contact p {
        width: 50rem;
    }

    .contact .content-contact .infos .btn-contact {
       margin: 1rem;
    }

    .footer {
        max-width: 100vw;
    }

}

@media (max-width: 425px) {

   
}