:root {
    --color-blue: #39B5E0;
    --color-pink: #FF78F0;
    --color-purple: #A31ACB;
    --color-yellow: #F5EA5A;
}

html {
    font-size: 62.5%;
    font-family: 'Comic Neue', cursive;
}

body {
    display: grid;
    grid-template-areas: "header header header"
                         "hero hero hero"
                         "about about about"
                         "contact contact contact"
                         "footer footer footer"
    ;
    grid-template-columns: 1fr;
}

main {
    background: url(../images/fundo-roxo.jpg);
    background-size: cover;
    height: 96vh;
}

.header {
    grid-area: header;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 10rem;
    border-radius: 50%;
}

.header .logo a {
    display: flex;
    align-items: center;
    padding: 1.5rem;
}

.header h3 {
    font-family: 'Kalam', cursive;
    padding: 2rem;
    font-size: 4rem;
    transition: 0.3s;
}

.header a:hover h3 {
    color: var(--color-pink);
}


.header nav ul {
    display: flex;
}


.header nav ul li a {
    font-weight: 700;
    font-size: 2.5rem;
    padding: 2rem 3rem;
    transition: 0.3s;
}

.header nav ul li a:hover {
    color: #000000;
    background-color:var(--color-blue);
    border-radius: 1rem;

}

.hero {
    grid-area: hero;
}

