:root {
    --color-blue: #39B5E0;
    --color-pink: #FF78F0;
    --color-purple: #A31ACB;
    --color-yellow: #F5EA5A;
}

html {
    font-size: 62.5%;
    font-family: 'Comic Neue', cursive;
    color: #ffffff;
}

body {
    display: grid;
    grid-template-areas: "header header header"
                         "hero hero hero"
                         "about about about"
                         "decorations decorations decorations"
                         "contact contact contact"
                         "footer footer footer"
    ;
    grid-template-columns: 1fr;
}

main {
    background: url(../images/fundo-roxo.jpg);
    background-size: cover;
    height: 96vh;
}

.header {
    grid-area: header;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 10rem;
    border-radius: 50%;
}

.header .logo a {
    display: flex;
    align-items: center;
    padding: 1.5rem;
}

.header h3 {
    padding: 2rem;
    font-size: 3rem;
    transition: 0.3s;
}

.header a:hover h3 {
    color: var(--color-pink);
}


.header nav ul {
    display: flex;
}


.header nav ul li a {
    font-weight: 700;
    font-size: 2.5rem;
    padding: 2rem 3rem;
    transition: 0.3s;
}

.header nav ul li a:hover {
    color: #000000;
    background-color:var(--color-blue);
    border-radius: 1rem;

}

.hero {
    grid-area: hero;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60vh;
}

.hero .infos {
    margin-left: 5rem;
    text-align: center;
}

.hero h1 {
    font-size: 6rem;
    font-family: 'Kalam', cursive;
}

.hero p {
    font-size: 2rem;
    margin-top: 3rem;
}

.hero .infos .btn {
    margin-top: 6rem;
    width: 25rem;
    height: 7rem;
    border-radius: 5rem;
    border: none;
    background-color: var(--color-yellow);
    font-size: 2rem;
    color: #000000;
    transition: 0.3s;
    cursor: pointer;
}

.hero .btn:hover {
    background-color: var(--color-yellow);
    width: 27rem;
    height: 8rem;
}

.hero .image-hero {
    display: flex;
    justify-content: center;
}

.hero  img {
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    border: solid 3px white;
    box-shadow: 2px 9px 4px 4px rgba(0, 0, 0, 0.7);
}

.about {
    grid-area: about;
    margin-top: 3rem;
    position: relative;
}

.about .content-about {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.about .title.about {
    background-color: var(--color-blue);
    width: 28rem;
    height: 5rem;
    color: #000000;
    border-radius: 5rem;
}


.about p {
    background-color: var(--color-blue);
    display: flex;
    align-items: center;
    margin-top: 2rem;
    padding: 2.5rem;
    width: 100rem;
    height: 35rem;
    font-size: 2rem;
    text-align: center;
    border-radius: 80px 2px 80px 2px;
}

.about .emoji {
    width: 9rem;
    position: absolute;
    transition: 0.3s;
}

.about .emoji.one {
    top: 0;
    left: 7rem;
    transform: rotateZ(40deg);
}

.about .emoji.one:hover {
    transform: rotateZ(0);
}

.about .emoji.two {
    top: 0;
    right: 5rem;
    transform: rotateZ(-40deg);
}

.about .emoji.two:hover {
    transform: rotateZ(0deg);
}

.about .interaction {
    position: absolute;
    display: flex;
    align-items: end;
    width: 10rem;
    height: 22rem;
    right: 2.5rem;
    bottom: 0;
}

.about .emoji.four {
    display: none;
}

.about .emoji.five {
    width: 8rem;
    top: 1rem;
    left: 6px;
}

.about .emoji.six {
    bottom: 0;
    left: 4rem;
}

.about .interaction:hover .emoji.three {
    display: none;
}

.about .interaction:hover .emoji.four {
    display: block;
}

.about .interaction:hover .emoji.five {
    transform: translateY(-3rem);
}

.about .emoji.six:hover {
    transform: rotateZ(-90deg);
}

.decorations {
    grid-area: decorations;
    margin-top: 6rem;
    position: relative;
}

.decorations h2 {
    background-color: var(--color-pink);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
}

.decorations .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.decorations .title.decoration {
    display: flex;
    justify-content: center;
}

.decorations .product {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    height: 35rem;
    margin: 2rem;
    box-shadow: 0 8px 25px 8px rgba(0,0,0,0.4);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.decorations img {
    width: 23rem;
}
.decorations .product .title {
    font-size: 2.3rem;
    width: 98%;
    text-align: center;
}

.decorations .product .title.one {
    background-color: red;
}

.decorations .product .title.two {
    background-color: #000000;
}

.decorations .product .title.three {
    background-color: green;
}

.decorations .product .title.four {
    background-color: brown;
}

.decorations .product:hover {
    transform: scale(1.04);
}

.contact {
    grid-area: contact;
    margin-top: 3rem;
    background-color: var(--color-yellow);
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .content-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
}


.contact .image-contact {
    display: flex;
    justify-content: center;
    margin-right: 20rem;
}

.contact  img {
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    border: solid 3px white;
    box-shadow: -4px 3px 4px 4px rgba(0, 0, 0, 0.7);
}

.contact .content-contact {
    padding: 2rem;
    width: 110rem;
    margin-right: 1rem;
}

.contact .content-contact .infos {
    background-color: var(--color-pink);
    border-radius: 1rem;
}

.contact .content-contact .infos h4 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-top: 1rem;
    font-family: 'Kalam', cursive;
    color: #ffffff;
}

.contact .content-contact .infos p {
    font-size: 2rem;
    margin: auto 1.5rem;
    text-align: center;
    margin-top: 5rem;
}

.contact .content-contact .infos .btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15rem;
}

.contact .content-contact .infos .btn-contact {
    background-color: aqua;
    width: 15rem;
    height: 5rem;
    border: solid 0.3px #FFFFFF;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 500;
}

.contact .content-contact .infos .btn-contact.wpp {
    background-color: #25D366;
}

.contact .content-contact .infos .btn-contact.insta {
    background-color: #FFFFFFFF ;
}

